@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Barlow Condensed', sans-serif;
    --main-text-color: rgb(246, 196, 61);
    --auxilary-text-color: rgb(0, 0, 0);
}

h1 {
    color: var(--main-text-color);
    text-transform: uppercase;
    font-size: 200px;
}

.container {
    max-width: 980px;
    margin: auto;
}





