.header {
    background-image: url(../img/tesla.jpg);
    background-size: cover;
    
    }

.header__nav-menu {
    width: 90vw;
    display: inline-flex;   
    justify-content: right;
    text-transform: uppercase;
    padding: 20px;
}

.header__nav-menu-item {
    color: var(--auxilary-text-color);
    text-decoration: none;
    text-transform: uppercase;
}

.header__nav-menu-item:hover {
    font-weight: bold;
    text-decoration: underline;

}

.header__nav-logo {    
    position: relative;
    bottom: 30px;
    margin: 5px;
    padding: 10px;
}

.header__banner-h1 {
    font-size: 15rem;
    color: var(--main-text-color);
    text-align: left;
    display: flex;
    
}

.header__banner-subtex {
    color: var(--auxilary-text-color);

}
@media (min-width: 990px) {
    .header__nav > .container {
        display: flex;
    }
}
