.header {
    background-image: url(../img/tesla.jpg);
    background-size: cover;
    background-position: 50% 50%;
        
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;

}

.header__banner-h1 {
    font-size: 15rem;
    color: var(--main-text-color);
    text-align: left;
    display: flex;
    
}

#header_logo {
    box-sizing: border-box;
    display: block;
    width: 50px;
    height: 50px;
    
}

.header__nav-social-icons {
    display: flex;
    flex-direction: flex-end;
    width: 30px;
    height: 30px;

}

.header__nav-menu {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-transform: uppercase;
}

.header__nav-menu-item {
    color: var(--auxilary-text-color);
    text-decoration: none;
    text-transform: uppercase; 
}

.header__nav-menu-item:hover {
    font-weight: bold;
    text-decoration: underline;
@media (min-width: 600px) {
        .header-nav > .container {
            display: flex;
        }
    }
}

.header__nav-logo {    
    position: relative;
    bottom: 30px;
    margin: 5px;
    padding: 10px;
}


.header__banner-subtex {
    color: var(--auxilary-text-color);
}


