@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Ubuntu:wght@300&display=swap');

.pricing__rates{
    color: #f6c43d;
    font-family: 'Ubuntu', sans-serif;
}
.pricing__h2{
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    
}
.pricing__subtext{
    color: gray;
    font-family: 'Ubuntu', sans-serif;
}
.chasis-type{
    color: #f6c43d;
    font-family: 'Ubuntu', sans-serif;
}
.price-p{
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
}
.price-p-comment{
    color: gray;
    font-family: 'Ubuntu', sans-serif;
}
.car-model{
    color: gray;
    font-family: 'Ubuntu', sans-serif;
}
.rent-car{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.luxury__block-middle{
    color: white;
}
.chasis-type-middle{
    font-family: 'Ubuntu', sans-serif;
}
.price-p-middle{
    font-family: 'Barlow Condensed', sans-serif;
}
.price-p-comment-middle{
    font-family: 'Ubuntu', sans-serif;
}
.car-model-middle{
    font-family: 'Ubuntu', sans-serif;
}

/* Vadim's block end*/