.request__form {
    width: 100%;
    padding: 120px 0;
}
.background__request__form {
    max-width: 1600px;
}
.form__header {
    max-width: 570px;
    max-height: 808px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
}