.request__form {
    width: 100%;
    min-height: 100vh;
    display: block;
    background-image: url(../img/alfa_romeo_giulietta.jpg);
    background-size: cover;
    background-position: 45% 55%;
}
.form__header {
    padding-top: 100px;
    display: block;
    justify-content: center;
}
.send__request {
    color: var(--main-text-color);
    text-transform: uppercase;
    text-align: center;
}
.need__rent {
    color: var(--auxilary-text-color);
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
.complete__form {
    color: lightgray;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
#form {
    display: flex;
    justify-content: center;
}
.form__field {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.request__button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.request__form__button__text {
    padding: .7rem .7rem;
    min-width: 100px;
    border: 1px solid grey;
    border-radius: 5rem;
    background: var(--main-text-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    text-decoration:none;
    text-align: center;
}